{% assign externalLink = Model.ContentItem.Content.LinkMenuItemPart %}
{% assign internalLink = Model.ContentItem.Content.ContentMenuItemPart %}
{% if externalLink %}
    <a href="{{ externalLink.Url | href }}" target="_blank">{{ externalLink.Name }}</a>
{% endif %}
{% if internalLink %}
    <a href="{{ '~/' | append: internalLink.Url | href }}">{{ internalLink.Name }}</a>
{% endif %}