<section class="widget-hero d-flex align-items-center">
  <div class="container">
    <div class="row flex-1 align-items-center">
      <div class="col-6">
        <h1>{{ Model.ContentItem.DisplayText }}</h1>
      </div>
    </div>
  </div>
</section>