<div id="surveyElement" data-data="{{Model.ContentItem.Content.Assessment.Data.Text }}"></div>
<div class="surveyResult" data-data="{{Model.ContentItem.Content.Assessment.Data.Text }}"></div>

{% style name:"default", src:"https://unpkg.com/survey-knockout@1.8.24/modern.css" %}
{% script name:"knockout", src:"https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js", at:"Foot" %}
{% script name:"survey-ko", src:"https://unpkg.com/survey-knockout@1.8.24/survey.ko.min.js", at:"Foot" %}

{% script name:"assessment", src:"~/StatCan.OrchardCore.Assessment/Scripts/assessment.js", type: "text/javascript", at:"Foot" %}