@model dynamic

<h1 class="text-center">@Model.Properties["ContentItem"]</h3>

@await DisplayAsync(Model.FormValue)

@await DisplayAsync(await New.InitialValueLoader())

@await DisplayAsync(await New.OptionsLoader())

@await DisplayAsync(Model.Content)