$enable-responsive-font-sizes: true;

body {
  background-color: #171717;
  color: $white;
  font-family: "Fira Sans", sans-serif;
}

h1,
.h1 {
  @include rfs(64);
  font-weight: 200;
}
h2,
.h2 {
  @include rfs(32);
  font-weight: 200;
}
h3,
.h3 {
  @include rfs(24);
  font-weight: 300;
}
.h4 {
  font-weight: 200;
}
p {
  @include rfs(16);
  font-weight: 300;
}
