#hero-section {
  height: 100vh;
  min-height: 700px;
  background-image: radial-gradient(
    circle at 50% 80%,
    transparentize($secondary, 0.3),
    transparentize($secondary, 0.99) 70%
  );
  background-position: center;
  text-align: center;
  i {
    @include rfs(256);
  }
}
#hero-section-top {
  height: 6rem;
  background-image: url("../images/oval.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero-section-bottom {
  height: 6.5rem;
  background-image: url("../images/oval.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero-section ul {
  perspective: 300px;
}
@include media-breakpoint-up(lg) {
  #hero-section li:first-child > .btn {
    transform: rotate3d(0, 1, 0, 20deg);
  }
  #hero-section li:last-child > .btn {
    transform: rotate3d(0, 1, 0, -20deg);
  }
}

#hero-section .btn {
  box-shadow: 0 29px 30px rgba(0, 0, 0, 0.3);
}

.sig-wht {
  height: 1rem;
  margin: 1.5rem;
}
.canada {
  height: 1.5rem;
  margin: 1.5rem;
}
.fip-spacer {
  width: 15vw;
}

@include media-breakpoint-up(lg) {
  .sig-wht {
    height: 1.75rem;
    margin: 1.5rem;
  }
  .canada {
    height: 2.25rem;
    margin: 1.5rem;
  }
}
