@model StatCan.OrchardCore.ContentFields.MultiSelect.ViewModels.DisplayMultiSelectFieldViewModel

@if (Model.HasValues)
{
    <ul>
        @foreach (var value in Model.SelectedValues)
        {
            <li>@value</li>
        }
    </ul>
}
