@using StatCan.OrchardCore.ContentFields.Multivalue.Settings;
@model StatCan.OrchardCore.ContentFields.Multivalue.ViewModels.EditMultivalueFieldViewModel

@{
  var settings = Model.PartFieldDefinition.GetSettings<MultivalueFieldSettings>();
}

<div class="form-group">
  @if (!String.IsNullOrEmpty(settings.Hint))
  {
    <span class="hint">— @settings.Hint</span>
  }
</div>
