.navbar {
  background-image: url("../images/NavBarBG.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 7rem;
}

.di-logo {
  fill: $black;
  &.dark {
    fill: $white;
  }
}
