.btn {
  &.feedback-mood-happy {
    background-color: transparent;
    border-radius: 0;
    &:hover {
      background-color: #5cad2b;
    }
    &.active {
      background-color: #5cad2b;
    }
  }

  &.feedback-mood-neutral {
    background-color: transparent;
    border-radius: 0;
    &:hover {
      background-color: #2c91ae;
    }
    &.active {
      background-color: #2c91ae;
    }
  }

  &.feedback-mood-sad {
    background-color: transparent;
    border-radius: 0;
    &:hover {
      background-color: #ad2b38;
    }
    &.active {
      background-color: #ad2b38;
    }
  }
}
