.fip {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  .fip-flag {
    fill: #e33445;
  }
  .fip-text {
    fill: $black;
  }
  &.mono {
    .fip-flag {
      fill: $black;
    }
  }
  &.dark {
    .fip-flag {
      fill: #e33445;
    }
    .fip-text {
      fill: $white;
    }
    &.mono {
      .fip-flag {
        fill: $white;
      }
    }
  }
  svg {
    vertical-align: bottom;
  }
}

.sig > svg {
  height: 1rem;
  @include media-breakpoint-up(md) {
    height: 1.3rem;
  }
  @include media-breakpoint-up(lg) {
    height: 1.25rem;
  }
}
.wmms > svg {
  height: 1.5rem;
  @include media-breakpoint-up(md) {
    height: 1.875rem;
  }
  @include media-breakpoint-up(lg) {
    height: 2.25rem;
  }
}

.fip-spacer {
  width: 15vw;
}
