.hero {
  &.is-fullheight {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
    }
    .hero-body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
    }
    .hero-header {
      display: flex;
      height: 6.5rem;
      justify-content: flex-end;
      nav {
        .nav-buttons {
          position: relative;
          #hamburger-menu {
            position: absolute;
            top: 1rem;
            right: 1rem;
          }
          ul > *:nth-child(1) {
            position: absolute;
            top: calc(11vh);
            right: 1rem;
          }
          ul > *:nth-child(2) {
            position: absolute;
            top: calc(0.6rem + 11vh);
            right: 4.5rem;
          }
          ul > *:nth-child(3) {
            position: absolute;
            top: calc(1.1rem + 11vh);
            right: 8rem;
          }
          ul > li > .language-toggle {
            font-weight: 500 !important;
            @include rfs(19);
          }
        }
      }
    }
    .hero-footer {
      height: 6.5rem;
      justify-content: center;
    }
  }
  #down-arrow {
    fill: $secondary;
  }
}
