.navbar {
  nav {
    ol,
    ul,
    dl {
      margin-top: auto;
      margin-bottom: auto;
    }
    li {
      margin: 0 0.5rem;
    }
  }
  .language-toggle {
    font-weight: 500 !important;
    text-indent: 0;
    @include rfs(19);
  }
}
