.navbar {
  background-image: url("../images/NavBarLeft.svg"),
    url("../images/NavBarRight.svg");
  background-position: right calc(100vw + 1rem) top,
    left calc(100vw + 1rem) bottom;
  background-size: auto 3rem, auto 1.3rem;
  background-repeat: no-repeat, no-repeat;
  min-height: 4.55rem;
  padding: 0 1rem;
  .container {
    background-image: url("../images/NavBarCenter.svg");

    background-position: left top;
    background-repeat: no-repeat;
    @include media-breakpoint-up(xs) {
      background-size: cover;
      height: 4.55rem;
    }
    @include media-breakpoint-up(sm) {
      background-size: auto;
      height: 5rem;
    }
    @include media-breakpoint-up(md) {
      background-size: auto;
      height: 6.8rem;
    }
    @include media-breakpoint-up(lg) {
      background-size: auto;
      height: 7.5rem;
    }
    @include media-breakpoint-up(xl) {
      background-size: auto;
      height: 10rem;
    }
  }
  @include media-breakpoint-up(xs) {
    background-position: right calc(100vw - 1.2rem) top,
      left calc(100vw - 1.2rem) bottom;
    background-size: auto 3.7rem, auto 1.41rem;
    height: 4.55rem;
  }
  @include media-breakpoint-up(sm) {
    background-position: right calc((100vw + 530px) / 2) top,
      left calc((100vw + 530px) / 2) bottom;
    background-size: auto 3.73rem, auto 1.4rem;
    height: 4.6rem;
  }
  @include media-breakpoint-up(md) {
    background-position: right calc((100vw + 720px) / 2) top,
      left calc((100vw + 710px) / 2) bottom;
    background-size: auto 4.95rem, auto 1.9rem;
    height: 6.1rem;
  }
  @include media-breakpoint-up(lg) {
    background-position: right calc((100vw + 960px) / 2) top,
      left calc((100vw + 800px) / 2) bottom;
    background-size: auto 6.05rem, auto 2.35rem;
    height: 7.5rem;
  }
  @include media-breakpoint-up(xl) {
    background-position: right calc((100vw + 1140px) / 2) top,
      left calc((100vw + 1140px) / 2) bottom;
    background-size: auto 7.8rem, auto 3rem;
    height: 9.65rem;
  }
}
