.content-section {
  &:nth-of-type(1) {
    background: #e0e3e6 url("../images/DigitalHeroBG.svg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 60vh;
  }
  &:nth-of-type(2) {
    background-image: url("../images/CircuitL.svg"),
      url("../images/CircuitR.svg"), url("../images/DigitalHeroStepDown.svg"),
      url("../images/BG1StepUp.svg");
    background-position: right 85vw top 0, left 85vw top -4rem, center top,
      center bottom;
    background-size: 20rem, 20rem, contain, contain;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  &:nth-of-type(3) {
    background: $background2;
  }
  &:nth-of-type(4) {
    background-image: url("../images/BG1StepDown.svg"),
      url("../images/FooterStepDown.svg");
    background-position: center top, center bottom;
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  padding-top: 3rem;
  padding-bottom: 3rem;
  .row > .column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .row.full > .column {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row.half-half > .column {
    flex: 0 0 100%;
    max-width: 100%;
    @include media-breakpoint-up(lg) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .row.quarter-quarter-half {
    > .column:nth-child(3n + 1) {
      flex: 0 0 50%;
      max-width: 50%;
      @include media-breakpoint-up(lg) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
    > .column:nth-child(3n + 2) {
      flex: 0 0 50%;
      max-width: 50%;
      @include media-breakpoint-up(lg) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
    > .column:nth-child(3n + 3) {
      flex: 0 0 100%;
      max-width: 100%;
      @include media-breakpoint-up(lg) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  .row.third-third-third > .column {
    flex: 0 0 100%;
    max-width: 100%;
    @include media-breakpoint-up(lg) {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }
  .row.quarter-quarter-quarter-quarter > .column {
    flex: 0 0 100%;
    max-width: 100%;
    @include media-breakpoint-up(lg) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}
