.widget-page-header {
  background-color: #e0e3e6;
  background-image: url("../images/DigitalPageHeader.svg");
  background-position: center top;  
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 12rem;
  padding-top: 2rem;
}