.widget-hero {
  background: url("../images/DigitalHeroBG.svg") center 5.5rem no-repeat,
    $bgHero url("../images/DigitalHeroStepUp.svg") center top no-repeat;
  background-size: auto 80%, auto;
  min-height: 35rem;
}
