.widget-page-header {
  background: #e0e3e6;
  background-image: url("../images/DigitalHeroBG.svg"),
    url("../images/DigitalHeroStepUp.svg");
  background-position: center, center top;  
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
  min-height: 20rem;
}