<section class="hero is-fullheight portal-hud">
  <div class="container">
  	<header class="hero-header">
  	  {% shape "menu", alias: "alias:main-menu" %}
    </header>
    <div class="hero-body justify-content-center">
      <h1>{{ Model.ContentItem.Content.Hero.Title.Text }}</h1>
    </div>
    <footer class="hero-footer fip">
    </footer> 
  </div>
</section>