<div class="column d-flex flex-column text-center justify-content-center">
    <img src="{{ Model.ContentItem.Content.ShowcaseBlurb.Image.Paths | asset_url | resize_url: height: 160, width: 160, mode: 'stretch' }}" />
    <h3>{{ Model.ContentItem | display_text }}</h3>
    <p>{{ Model.ContentItem.Content.ShowcaseBlurb.PrimaryText.Text }}</p>
    <p>{{ Model.ContentItem.Content.ShowcaseBlurb.SecondaryText.Text }}</p>
</div>