{% assign title = "Password recovery sent" | t %}
{% assign subtitle = "Check your email" | t %}
{% assign prompt = "It may take a few minutes" | t %}

{{ "SharedLoginHeader" | shape_new: title: title, subtitle: subtitle, prompt: prompt | shape_render }}
    <div class="form-group d-flex flex-column align-items-center justify-content-center mb-3">
        <p class="text-center">{{ "A recovery email has been sent to the email address tied to your account. " | t }}</p>
    </div>
    {%comment%}should not hardcode url's in templates{%endcomment%}
    <p class="text-center mt-5"><a href="https://digital.statcan.gc.ca/#contact">{{ "If you're still stuck, see if we can help." | t }}</a></p>
{{ "SharedLoginFooter" | shape_new | shape_render }}