@{ 
    ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}
<h1 class="login">@T["Change password"]</h1>
<div class="login">
  <section class="col-xl-5 col-lg-6 col-md-8 col-12">
    <p class="text-center">@T["Your password has been changed successfully."]</p>
  </section>
</div>