<a href="#" class="dropdown-item d-lg-none d-flex" data-toggle="modal" data-target="#feedback-modal" >{{ "Send us feedback" | t }}</a>
<a href="#" class="btn btn-primary is-circle d-lg-flex d-none" data-toggle="modal" data-target="#feedback-modal"><i class="fas fa-comments"></i></a>