{% if User.Identity.IsAuthenticated %}
    <a href="#" class="dropdown-item d-lg-none d-flex" data-toggle="modal" data-target="#profile-modal" >{{ "Account" | t }}</a>
    <a href="#" class="btn btn-primary is-circle d-lg-flex d-none" data-toggle="modal" data-target="#profile-modal"><i class="fas fa-user"></i></a>
{% else %}
    <a href="{{ '~/login' | href }}" class="dropdown-item d-lg-none d-flex" >{{ "Sign In" | t }}</a>
    <a href="{{ '~/login' | href }}" class="btn btn-primary is-circle d-lg-flex d-none"><i class="fas fa-sign-in-alt"></i></a>
{% endif %}

