<section id="footer-section">
  <a href="digital.statcan.gc.ca">
    <div class="d-flex justify-content-center">
      <a href="#" class="btn btn-lg btn-primary is-rounded">More Virtual Labs</a>
    </div>
    <div class="text-center pb-5">
      <div class="powered-by-di">Powered by</div>
      <img src="{{ 'DI Logo.svg' | asset_url }}" />
    </div>
  </a>
  
  <div class="container pt-5">
    <div class="d-flex align-items-end justify-content-between">
      <img class="sig-wht" src="{{ 'sig-wht-eng.svg' | asset_url }}" />
      <img class="canada" src="{{ 'Canada.svg' | asset_url }}" />
    </div>
  </div>  
</section>