{% assign title = "Password changed" | t %}
{{ "SharedLoginHeader" | shape_new | shape_properties: title: title | shape_render }}
<p class="text-center">{{ "Your password has been changed successfully." | t }}</p>
{{ "SharedLoginFooter" | shape_new | shape_render }}