@model Etch.OrchardCore.Blocks.ViewModels.DisplayBlockFieldViewModel

<section class="section">
    <div class="section__content constrain">
        @foreach (var block in Model.Blocks)
        {
            @await DisplayAsync(block)
        }
    </div>
</section>