{% assign challenges = Queries.GetItemsForHackathon | query: type: "Challenge" %}

<v-card class="mx-auto" max-width="400" >
    <v-list subheader three-line >

      {% for challenge in challenges %}
      {% if challenge.Published == true %}

      <a href="{{ challenge.ContentItem | display_url }}">
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>{{ challenge.ContentItem.Content.Challenge.Name.Text }}</v-list-item-title>
            <v-list-item-subtitle>{{ challenge.ContentItem.Content.Challenge.ShortDescription.Text }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </a>

      {% endif %}
      {% endfor %}
      
  </v-list>
</v-card>
