@model ActivityViewModel<CommitFileTask>
<header>
    <h4><i class="fas fa-code"></i>@Model.Activity.GetTitleOrDefault(() => T["Commit File"])</h4>
</header>
<span>@T["<em>{0} - {1} </em>", Model.Activity.BranchName, Model.Activity.FileName]</span>
