{% style src:"~/StatCan.OrchardCore.Radar/css/topic.css" %}

<div class="topic">
    <v-icon color="white" class="mr-1" style="font-size: 20px">
        mdi-pound
    </v-icon>
    <div class="label">
        {{ Model.ContentItem | display_text }}
    </div>
</div>