<tr class="table-row">
  <td class="name-col">{{ Model.ContentItem | dispay_text }}</td>
  <td class="table-col">
    {% if Model.ContentItem.Published %}
        Published
    {% else %}
        Draft
    {% endif %}
  </td>
  <td class="table-col">
    {{ Model.ContentItem.CreatedUtc | local | date: "%b %d, %Y" }}
  </td>
  <td class="table-col">
    {{ Model.ContentItem.ModifiedUtc | local | date: "%b %d, %Y" }}
  </td>
</tr>
