{% style src:"~/StatCan.OrchardCore.Radar/css/list-view.css" %}

{% zone "Header" %}
<div class="pt-12">
  <div class="list-header">
    <v-container>
      <v-row justify="space-between">
        <v-col md="4">
          <div class="title-container">
            <div class="text-h2">{{ Model.ContentItem | display_text }}</div>
            <div class="bubble">
              <div class="bubble-text" id="bubble-text"></div>
            </div>
          </div>
          <div class="search-container">
            <v-icon color="black" class="mr-5">
              mdi-magnify
            </v-icon>
            <input class="search-input" type="text" id="search-input" onkeyup="search()" placeholder={{ "Search for names.." | t }}>
            <v-btn elevation="0" icon id="search-clear-button" >
                <v-icon>
                    mdi-close
                </v-icon>
            </v-btn>
          </div>
        </v-col>
        <v-col md="1">
          <div style="width: 7rem; height: 7rem">
            <v-img
              src="{{ Model.ContentItem.Content.EntityList.Image.Paths.first | asset_url }}"
            >
            </v-img>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
  <div class="zigzag-container">
    <div class="zigzag zigzag-white"></div>
  </div>
</div>
{% endzone %}

{{ Model.Content.LiquidPart | shape_render }}

<script type="application/javascript">

window.addEventListener("DOMContentLoaded", function() {
    // Hook into the rendered button since I don't have access to the Vue instance
    document.getElementById("search-clear-button").addEventListener("click", function () {
        document.getElementById("search-input").value = "";

        table = document.getElementById("entity-table");
        tr = table.getElementsByTagName("tr");
        // Reset the table after input is cleared
        for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
        }
    });

    // Update the bubble. -1 is for the table header.
    document.getElementById("bubble-text").innerText = document.getElementById("entity-table").getElementsByTagName("tr").length - 1;
});
    
</script>