{% assign canView = Model.ContentItem | user_can_view %}
{% if canView %}
<a href="{{ Model.ContentItem | display_url }}">
  <div class="topic">
    <v-icon color="white" class="topic-tag-icon">
      mdi-pound
    </v-icon>
    <div class="label">
      {{ Model.ContentItem | display_text | shortcode }}
    </div>
  </div>
</a>
{% endif %}