<tr class="table-row">
  <td class="name-col">
    <a href="{{ Model.ContentItem | display_url }}">
      {{ Model.ContentItem | dispay_text | shortcode }}
    </a>
  </td>
  <td class="table-col">
    {% if Model.ContentItem.Published %}
        Published
    {% else %}
        Draft
    {% endif %}
  </td>
  <td class="table-col">
    {{ Model.ContentItem.ModifiedUtc | local | date: "%b %d, %Y" }}
  </td>
</tr>
