{% assign menu = Model.Properties.Model %}

<v-menu offset-y>
  <template v-slot:activator="{ on: onMenu, attrs }">
    <v-btn v-bind="attrs" text v-on="{ ...onMenu }">
      <span class="font-weight-light text-h6">{{ menu| display_text }}</span>
    </v-btn>
  </template>
  <v-list>
    <v-divider></v-divider>
    {% for item in menu.Content.MenuItemsListPart.MenuItems %}
      {{ "RadarMenuItem" | shape_new: Model: item | shape_render }}
    <v-divider></v-divider>
    {% endfor %}
  </v-list>
</v-menu>