{{ Model.InitialValues | json }}
{{ Model.Options | json }}
<div id="value-holder" data-initial-values="{{ Model.InitialValues }}"></div>
<div id="option-holder" data-options="{{ Model.Options }}"></div>