.ajax-form {
  .form-check-inline > .form-check {
    padding-left: 0;
  }

  .form-control-wrapper.required > label:before {
    content: "* ";
    color: red;
  }

  .field-validation-error {
    color: red;
    font-size: smaller;
  }
}
