<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <!-- dev feed -->
    <add key="OrchardCore" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
    <add key="StatCanOrchardCore" value="https://nuget.cloudsmith.io/statcan-digitalinnovation/statcan-orchardcore/v3/index.json" />
   </packageSources>
  <disabledPackageSources />
</configuration>
