.header {
  padding: 3rem 9rem;
  background: transparent linear-gradient(180deg, #cfece9 0%, #abded7 100%) 0%
    0% no-repeat;
}

.name {
  text-align: left;
  font-weight: 300;
  color: #000000de;
  overflow-wrap: anywhere;
}

.description {
  margin-top: 1rem;
  color: #227069;
}

.topics-container {
  margin-top: 2rem !important;
}

.icon-cell {
  display: flex;
  align-items: center;
}

.icon-text {
  margin-left: 1rem;
}

.topics-list-container {
  display: flex;
}

.bubble {
  margin-left: 2rem;
  background-color: #f6fcfb;
  border: 2px solid #009c88;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 23px;
}

.bubble-text {
  color: #227069;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.member-table {
  width: 50%;
}

.table-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sections-container {
  padding: 0 5rem 0 5rem;
}

.section {
  margin-bottom: 2rem;
}

.zigzag {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
}

.zigzag-container {
  position: relative;
  width: 100%;
}

.zigzag-white {
  background: linear-gradient(-40deg, #ffffff 16px, transparent 0),
    linear-gradient(40deg, #ffffff 16px, transparent 0);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
}
