.max-wdith {
  max-width: 1200px;
}

.header-text {
  padding: 0 24rem 0 24rem;
}

.light-font {
  font-weight: lighter;
  color: #000000de;
  opacity: 1;
}

.name {
  font-size: 47px;
  color: #005247;
  font-weight: 300;
  white-space: nowrap;
}

.description {
  font-size: 25px;
  font-weight: 300;
  margin: auto;
  line-height: normal;
}

.list {
  display: flex;
  justify-content: center;
}

.section-title {
  color: #005247;
}

.section-background {
  background: #009c880a;
}

.front-footer {
  background: #009c88;
}

.header-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10rem 0 10rem;
}

.zigzag-container {
  position: relative;
  width: 100%;
}

.zigzag {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
}

.zigzag-white {
  background: linear-gradient(-40deg, #ffffff 16px, transparent 0),
    linear-gradient(40deg, #ffffff 16px, transparent 0);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
}

.zigzag-light {
  background: linear-gradient(-40deg, #f6fcfb 16px, transparent 0),
    linear-gradient(40deg, #f6fcfb 16px, transparent 0);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
}

.zigzag-dark {
  background: linear-gradient(-40deg, #cfece9 16px, transparent 0),
    linear-gradient(40deg, #cfece9 16px, transparent 0);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
}

.rippleFront {
  background-color: #cfece9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -590px;
  padding: 8rem 0rem 3rem 0rem;
}

a {
  text-decoration: none;
}
