<div class="jumbotron">
  <div class="container">
    {{ Model.ContentItem.Content.ToolkitArticle.Image.Paths | asset_url | img_tag: alt: Model.ContentItem.Content.ToolkitArticle.Image.MediaTexts.first, class: 'float-right' }}
    <h1>{{ Model.ContentItem.DisplayText }}</h1>
    {{Model.Content.ToolkitArticle__ShortDescription | shape_render }}
  </div>
</div>
<div class="container">
  {{ Model.Content.FlowPart | shape_render }}
</div>

