{% if Model.ContentItem.Content.Brand.Link.Url != null %}
<a class="d-flex flex-grow-1 align-items-center" href="{{ Model.ContentItem.Content.Brand.Link.Url | href }}" style="white-space: nowrap">
{% endif %}
{% if Model.ContentItem.Content.Brand.Logo.Paths != null %}
<img class="di-logo" 
    src="{{ Model.ContentItem.Content.Brand.Logo.Paths | asset_url | resize_url: width:480, height: 480, mode: 'stretch'}}" 
    alt="{{ "Logo" | t }}" 
/>
{% endif %}
{% if Model.ContentItem.Content.Brand.Link.Text != null %}
  <span class="di-title">{{ Model.ContentItem.Content.Brand.Link.Text }}</span>
{% endif %}
{% if Model.ContentItem.Content.Brand.Link.Url != null %}
</a>
{% endif %}