<a class="dropdown-item" 
  href="{{ Model.ContentItem.Content.SimpleLink.Url.Text | shortcode }}"
  target="_blank" 
  rel="noopener noreferrer" 
  aria-label="{{ 'Open {0} in a new tab' | t: Model.ContentItem.DisplayText }}"
>
  {{ Model.ContentItem.DisplayText }}
</a>
