{% capture renderedItems %}
  {% for item in Model.Items %}
    {{ item | shape_render}}
  {% endfor %}
{% endcapture %}
<div class="nav-buttons d-xl-none d-flex">
    <a class="btn btn-outline-dark" href="#" id="hamburger-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'Menu' | t }}</a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="hamburger-menu">
        <ul class="list-unstyled">
          {{renderedItems}}
        </ul>
    </div>
</div>
<div class="nav-buttons d-xl-flex d-none justify-content-end w-100 pr-5">
    <ul class="list-unstyled d-flex">
      {{renderedItems}}
    </ul>
</div>
