{% if Culture.Name == "fr" %}
    <div role="img" class="sig" aria-label="{{ 'Statistics Canada' | t }}">
        <svg height="24" width="214" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 596.8 66.9" xml:space="preserve" aria-hidden="true">
            <path class="fip-text" d="M438.9,9c-0.2-3.1-1.1-9-11-9c-6.8,0-9.7,4.3-9.7,8.7c0,4.9,4.2,6.2,6,6.6l5.8,1.3c4.6,1.1,6,2,6,5
                c0,4-4.6,4.7-7.4,4.7c-3.6,0-7.8-1.5-7.8-6.6h-3.6c0,2.6,0.5,5,2.9,7.1c1.3,1.1,3.3,2.7,8.5,2.7c4.8,0,11-1.8,11-8.5
                c0-4.5-2.7-6.7-6.4-7.5l-8-1.8c-1.7-0.4-3.3-1.2-3.3-3.6c0-4.3,4-4.9,6.4-4.9c3.2,0,6.8,1.4,7,5.7L438.9,9L438.9,9z M451.6,11.3V8.5
                h-3.3V2.7h-3.5v5.8H442v2.9h2.8v13.5c0,2.5,0.7,4.4,4.2,4.4c0.4,0,1.3-0.2,2.6-0.3v-2.7h-1.2c-0.7,0-2.1,0-2.1-1.6V11.3H451.6
                L451.6,11.3z M458,14.7c0.2-1.6,0.8-4,4.7-4c3.3,0,4.8,1.2,4.8,3.3c0,2-1,2.4-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4
                c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3c0.1,1.6,0.6,3.1,3.6,3.1c0.8,0,1.3-0.2,1.9-0.4v-2.3c-0.4,0.1-0.8,0.2-1.1,0.2
                c-0.7,0-1.1-0.4-1.1-1.2V13.6c0-5.3-6-5.7-7.6-5.7c-5.1,0-8.3,1.9-8.5,6.8L458,14.7L458,14.7z M467.5,21.9c0,2.7-3.1,4.8-6.3,4.8
                c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3c4.3-0.6,5.1-0.9,5.7-1.3L467.5,21.9L467.5,21.9z M484.3,11.3V8.5H481V2.7h-3.4v5.8
                h-2.8v2.9h2.8v13.5c0,2.5,0.7,4.4,4.2,4.4c0.4,0,1.3-0.2,2.6-0.3v-2.7h-1.2c-0.7,0-2.1,0-2.1-1.6V11.3H484.3L484.3,11.3z M491.2,8.5
                h-3.5V29h3.5V8.5L491.2,8.5z M491.2,4.7V0.8h-3.5v3.9L491.2,4.7L491.2,4.7z M511.3,14.3c0-1-0.5-6.4-7.8-6.4c-4,0-7.8,2-7.8,6.5
                c0,2.8,1.9,4.3,4.7,5l4,1c2.9,0.7,4.1,1.3,4.1,2.9c0,2.3-2.2,3.3-4.7,3.3c-4.9,0-5.3-2.6-5.4-4.2h-3.3c0.1,2.5,0.7,7.2,8.8,7.2
                c4.6,0,8.1-2.6,8.1-6.8c0-2.8-1.5-4.4-5.8-5.4l-3.4-0.9c-2.7-0.7-3.7-1.1-3.7-2.7c0-2.5,3-2.9,4.1-2.9c4.4,0,4.8,2.2,4.9,3.4
                L511.3,14.3L511.3,14.3z M523.5,11.3V8.5h-3.3V2.7h-3.4v5.8H514v2.9h2.8v13.5c0,2.5,0.7,4.4,4.2,4.4c0.4,0,1.3-0.2,2.6-0.3v-2.7
                h-1.2c-0.7,0-2.1,0-2.1-1.6V11.3H523.5L523.5,11.3z M530.4,8.5H527V29h3.4V8.5L530.4,8.5z M530.4,4.7V0.8H527v3.9L530.4,4.7
                L530.4,4.7z M551.7,15.4c-0.3-3.6-2.3-7.5-7.7-7.5c-6.8,0-9.8,5.1-9.8,11.4c0,5.9,3.4,10.3,9.2,10.3c6,0,8-4.6,8.4-7.8h-3.3
                c-0.6,3.1-2.6,4.9-4.9,4.9c-4.7,0-5.6-4.4-5.6-7.9c0-3.6,1.4-7.7,5.6-7.7c2.9,0,4.4,1.6,4.9,4.4L551.7,15.4L551.7,15.4z M570.2,14.3
                c0-1-0.5-6.4-7.8-6.4c-4,0-7.8,2-7.8,6.5c0,2.8,1.9,4.3,4.7,5l4,1c2.9,0.7,4.1,1.3,4.1,2.9c0,2.3-2.2,3.3-4.7,3.3
                c-4.9,0-5.3-2.6-5.4-4.2H554c0.1,2.5,0.7,7.2,8.8,7.2c4.6,0,8.1-2.6,8.1-6.8c0-2.8-1.5-4.4-5.8-5.4l-3.5-0.9
                c-2.7-0.7-3.7-1.1-3.7-2.7c0-2.5,3-2.9,4.1-2.9c4.4,0,4.8,2.2,4.9,3.4L570.2,14.3L570.2,14.3z M441.8,46.4
                c-0.5-4.7-4.3-9.2-11.6-9.2c-8.2,0-13.1,6-13.1,14.7c0,10.8,6.3,15,12.7,15c2.1,0,10.7-0.5,12.3-11.1h-3.7c-1.3,6.5-5.6,7.7-8,7.7
                c-7,0-9.3-5.1-9.3-11.7c0-7.4,4.1-11.2,9.2-11.2c2.7,0,6.8,0.9,7.9,5.8H441.8L441.8,46.4z M449.3,51.9c0.2-1.6,0.8-4,4.7-4
                c3.3,0,4.8,1.2,4.8,3.3c0,2-1,2.3-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3
                c0.1,1.6,0.6,3.1,3.6,3.1c0.8,0,1.3-0.2,1.9-0.4v-2.5c-0.4,0.1-0.8,0.2-1.1,0.2c-0.7,0-1.1-0.4-1.1-1.2V50.8c0-5.3-6-5.7-7.6-5.7
                c-5.1,0-8.3,1.9-8.5,6.8L449.3,51.9L449.3,51.9z M458.7,59c0,2.7-3.1,4.8-6.4,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3
                c4.3-0.6,5.1-0.9,5.7-1.3V59L458.7,59z M484.7,52.2c0-5.8-4-7.1-7.2-7.1c-3.5,0-5.4,2.4-6.2,3.5h-0.1v-2.9h-3.3v20.5h3.4V55
                c0-5.6,3.5-6.8,5.4-6.8c3.4,0,4.4,1.8,4.4,5.4v12.6h3.4L484.7,52.2L484.7,52.2z M492.9,51.9c0.2-1.6,0.8-4,4.7-4
                c3.3,0,4.8,1.2,4.8,3.3c0,2-1,2.3-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3
                c0.1,1.6,0.6,3.1,3.6,3.1c0.8,0,1.3-0.2,1.9-0.4v-2.5c-0.4,0.1-0.8,0.2-1.1,0.2c-0.7,0-1.1-0.4-1.1-1.2V50.8c0-5.3-6-5.7-7.6-5.7
                c-5.1,0-8.3,1.9-8.5,6.8L492.9,51.9L492.9,51.9z M502.3,59c0,2.7-3.1,4.8-6.4,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3
                c4.3-0.6,5.1-0.9,5.7-1.3V59L502.3,59z M528.6,38h-3.4v10.3l-0.1,0.3c-0.8-1.2-2.4-3.5-6.1-3.5c-5.4,0-8.5,4.5-8.5,10.2
                c0,4.9,2,11.5,9,11.5c2,0,4.3-0.6,5.8-3.4h0.1v2.8h3.3L528.6,38L528.6,38z M514,55.8c0-2.6,0.3-7.7,5.6-7.7c5,0,5.5,5.4,5.5,8.7
                c0,5.5-3.4,6.9-5.6,6.9C515.8,63.7,514,60.3,514,55.8L514,55.8z M536.5,51.9c0.2-1.6,0.8-4,4.7-4c3.3,0,4.8,1.2,4.8,3.3
                c0,2-1,2.3-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3c0.1,1.6,0.6,3.1,3.6,3.1
                c0.8,0,1.3-0.2,1.9-0.4v-2.5c-0.4,0.1-0.8,0.2-1.1,0.2c-0.7,0-1.1-0.4-1.1-1.2V50.8c0-5.3-6-5.7-7.6-5.7c-5.1,0-8.3,1.9-8.5,6.8
                L536.5,51.9L536.5,51.9z M545.9,59c0,2.7-3.1,4.8-6.4,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3c4.3-0.6,5.1-0.9,5.7-1.3V59
                L545.9,59z"/>
            <path class="fip-text" d="M220.1,9c-0.2-3.1-1.1-9-11-9c-6.8,0-9.7,4.3-9.7,8.7c0,4.9,4.2,6.2,6,6.6l5.8,1.3c4.6,1.1,6,2,6,5
                c0,4-4.6,4.7-7.4,4.7c-3.6,0-7.8-1.5-7.8-6.6h-3.6c0,2.6,0.5,5,2.9,7.1c1.2,1.1,3.3,2.7,8.5,2.7c4.8,0,11-1.8,11-8.5
                c0-4.5-2.8-6.7-6.4-7.5l-8-1.8c-1.6-0.4-3.3-1.2-3.3-3.6c0-4.3,4-4.9,6.4-4.9c3.2,0,6.8,1.4,7,5.7L220.1,9L220.1,9z M232.8,11.3V8.5
                h-3.3V2.7H226v5.8h-2.8v2.9h2.8v13.5c0,2.5,0.7,4.4,4.2,4.4c0.4,0,1.3-0.2,2.6-0.3v-2.7h-1.2c-0.7,0-2.1,0-2.1-1.6V11.3H232.8
                L232.8,11.3z M239.3,14.7c0.2-1.6,0.8-4,4.7-4c3.3,0,4.8,1.2,4.8,3.3c0,2-1,2.4-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4
                c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3c0.1,1.6,0.6,3.1,3.6,3.1c0.8,0,1.3-0.2,1.9-0.4v-2.3c-0.4,0.1-0.8,0.2-1.1,0.2
                c-0.7,0-1.1-0.4-1.1-1.2V13.6c0-5.3-6-5.7-7.6-5.7c-5.1,0-8.3,1.9-8.5,6.8L239.3,14.7L239.3,14.7z M248.7,21.9
                c0,2.7-3.1,4.8-6.4,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3c4.3-0.6,5.1-0.9,5.7-1.3V21.9L248.7,21.9z M265.5,11.3V8.5
                h-3.3V2.7h-3.4v5.8H256v2.9h2.8v13.5c0,2.5,0.7,4.4,4.1,4.4c0.4,0,1.3-0.2,2.6-0.3v-2.7h-1.2c-0.7,0-2.1,0-2.1-1.6V11.3H265.5
                L265.5,11.3z M272.4,8.5H269V29h3.4V8.5L272.4,8.5z M272.4,4.7V0.8H269v3.9L272.4,4.7L272.4,4.7z M292.6,14.3c0-1-0.5-6.4-7.8-6.4
                c-4,0-7.8,2-7.8,6.5c0,2.8,1.9,4.3,4.7,5l4,1c2.9,0.7,4.1,1.3,4.1,2.9c0,2.3-2.2,3.3-4.7,3.3c-4.9,0-5.3-2.6-5.4-4.2h-3.3
                c0.1,2.5,0.7,7.2,8.8,7.2c4.6,0,8.1-2.6,8.1-6.8c0-2.8-1.5-4.4-5.8-5.4l-3.5-0.9c-2.7-0.7-3.7-1.1-3.7-2.7c0-2.5,3-2.9,4.1-2.9
                c4.4,0,4.8,2.2,4.9,3.4L292.6,14.3L292.6,14.3z M304.7,11.3V8.5h-3.3V2.7H298v5.8h-2.8v2.9h2.8v13.5c0,2.5,0.7,4.4,4.2,4.4
                c0.4,0,1.3-0.2,2.6-0.3v-2.7h-1.2c-0.7,0-2.1,0-2.1-1.6V11.3H304.7L304.7,11.3z M311.6,8.5h-3.5V29h3.5V8.5L311.6,8.5z M311.6,4.7
                V0.8h-3.5v3.9L311.6,4.7L311.6,4.7z M333.6,8.5h-3.2v2.9h-0.1c-0.8-1.2-2.4-3.5-6.1-3.5c-5.5,0-8.6,4.5-8.6,10.2
                c0,4.9,2,11.5,9,11.5c2.7,0,4.6-1.3,5.4-2.8h0.1v10.3h3.4L333.6,8.5L333.6,8.5z M330.3,19.7c0,5.5-3.4,6.9-5.6,6.9
                c-3.8,0-5.5-3.4-5.5-7.9c0-2.6,0.3-7.7,5.6-7.7C329.8,11,330.3,16.3,330.3,19.7L330.3,19.7z M355.2,29V8.5h-3.4v11.3
                c0,3-1.3,6.8-5.6,6.8c-2.2,0-4-1.1-4-4.5V8.5h-3.5v14.7c0,4.9,3.6,6.4,6.7,6.4c3.3,0,5.1-1.3,6.5-3.7L352,26v3H355.2L355.2,29z
                M374.4,22.5c-0.1,1.5-2,4-5.3,4c-4,0-6-2.5-6-6.7h15c0-7.3-2.9-12-8.8-12c-6.8,0-9.8,5.1-9.8,11.4c0,5.9,3.4,10.3,9.2,10.3
                c3.3,0,4.6-0.8,5.6-1.4c2.6-1.7,3.5-4.6,3.6-5.6H374.4L374.4,22.5z M363.1,17.1c0-3.2,2.5-6.1,5.7-6.1c4.2,0,5.5,2.9,5.7,6.1H363.1
                L363.1,17.1z M223,46.4c-0.5-4.7-4.3-9.2-11.6-9.2c-8.2,0-13.1,6-13.1,14.7c0,10.8,6.3,15,12.7,15c2.1,0,10.7-0.5,12.3-11.1h-3.7
                c-1.3,6.5-5.6,7.7-8,7.7c-7,0-9.3-5.1-9.3-11.7c0-7.4,4.1-11.2,9.2-11.2c2.7,0,6.8,0.9,7.9,5.8H223L223,46.4z M230.5,51.9
                c0.2-1.6,0.8-4,4.7-4c3.3,0,4.8,1.2,4.8,3.3c0,2-1,2.3-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4c0,3.5,2.7,5.9,6.4,5.9
                c4,0,6.1-1.9,7.4-3.3c0.1,1.6,0.6,3.1,3.6,3.1c0.8,0,1.3-0.2,1.9-0.4v-2.5c-0.4,0.1-0.8,0.2-1.1,0.2c-0.7,0-1.1-0.4-1.1-1.2V50.8
                c0-5.3-6-5.7-7.6-5.7c-5.1,0-8.3,1.9-8.5,6.8L230.5,51.9L230.5,51.9z M240,59c0,2.7-3.1,4.8-6.3,4.8c-2.6,0-3.7-1.3-3.7-3.6
                c0-2.6,2.7-3.1,4.4-3.3c4.3-0.6,5.1-0.9,5.7-1.3L240,59L240,59z M266,52.2c0-5.8-4-7.1-7.2-7.1c-3.5,0-5.5,2.4-6.2,3.5h-0.1v-2.9
                h-3.3v20.5h3.4V55c0-5.6,3.5-6.8,5.4-6.8c3.4,0,4.4,1.8,4.4,5.4v12.6h3.5L266,52.2L266,52.2z M274.1,51.9c0.2-1.6,0.8-4,4.7-4
                c3.3,0,4.8,1.2,4.8,3.3c0,2-1,2.3-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3
                c0.1,1.6,0.6,3.1,3.6,3.1c0.8,0,1.3-0.2,1.9-0.4v-2.5c-0.4,0.1-0.8,0.2-1.1,0.2c-0.7,0-1.1-0.4-1.1-1.2V50.8c0-5.3-6-5.7-7.6-5.7
                c-5.1,0-8.3,1.9-8.5,6.8L274.1,51.9L274.1,51.9z M283.6,59c0,2.7-3.1,4.8-6.4,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3
                c4.3-0.6,5.1-0.9,5.7-1.3V59L283.6,59z M309.9,38h-3.4v10.3l-0.1,0.3c-0.8-1.2-2.4-3.5-6.1-3.5c-5.4,0-8.5,4.5-8.5,10.2
                c0,4.9,2,11.5,9,11.5c2,0,4.4-0.6,5.8-3.4h0.1v2.8h3.3L309.9,38L309.9,38z M295.2,55.8c0-2.6,0.3-7.7,5.6-7.7c5,0,5.5,5.4,5.5,8.7
                c0,5.5-3.4,6.9-5.6,6.9C297,63.7,295.2,60.3,295.2,55.8L295.2,55.8z M317.7,51.9c0.2-1.6,0.8-4,4.7-4c3.3,0,4.8,1.2,4.8,3.3
                c0,2-1,2.3-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3c0.1,1.6,0.6,3.1,3.6,3.1
                c0.8,0,1.3-0.2,1.9-0.4v-2.5c-0.4,0.1-0.8,0.2-1.1,0.2c-0.7,0-1.1-0.4-1.1-1.2V50.8c0-5.3-6-5.7-7.6-5.7c-5.1,0-8.3,1.9-8.5,6.8
                L317.7,51.9L317.7,51.9z M327.2,59c0,2.7-3.1,4.8-6.4,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3c4.3-0.6,5.1-0.9,5.7-1.3V59
                L327.2,59z"/>
            <g class="fip-flag">
                <g>
                    <g>
                        <path d="M67.9,61.8c0,0-0.3-11.3-0.3-12.5s0.9-1.5,2.1-1.2s11.8,2.4,11.8,2.4s-0.9-2.4-1.5-3.9
                            c-0.6-1.8,0.3-2.1,0.6-2.4c0.3-0.3,11.8-10.1,11.8-10.1l-1.8-0.9c-1.2-0.6-0.9-1.5-0.6-2.1c0-0.6,1.8-7.1,1.8-7.1s-4.8,0.9-6,1.2
                            c-0.9,0-1.2-0.3-1.5-0.9s-1.5-3.6-1.5-3.6s-6,6.5-6,6.8c-1.2,0.9-2.4,0.3-2.1-0.9c0-1.2,3-14.6,3-14.6s-3.3,2.1-4.2,2.7
                            c-1.2,0.6-1.5,0.6-2.1-0.6c-0.6-0.9-4.5-8.9-4.5-8.9l0,0c0,0-4.2,8-4.5,8.9c-0.6,1.2-1.2,1.2-2.4,0.6c-0.9-0.6-4.2-2.7-4.2-2.7
                            s3,13.4,3,14.6c0.3,1.2-0.9,1.8-1.8,0.9c-0.3-0.3-6.3-6.8-6.3-6.8s-1.2,3-1.5,3.6s-0.6,0.9-1.5,0.9c-1.2-0.3-6.3-1.2-6.3-1.2
                            s2.1,6.5,2.4,7.1c0,0.6,0.3,1.5-0.9,2.1l-2.2,1c0,0,11.5,9.8,11.8,10.1s1.2,0.6,0.6,2.4c-0.6,1.5-1.5,3.9-1.5,3.9
                            s10.9-2.1,11.8-2.4c1.2-0.3,2.1,0,2.1,1.2s-0.3,12.5-0.3,12.5L67.9,61.8L67.9,61.8z"/>
                        <polygon points="33.4,66.9 33.4,0.3 0,0.3 0,66.9"/>
                        <polygon points="133.1,66.9 133.1,0.3 99.6,0.3 99.6,66.9"/>
                    </g>
                </g>
            </g>
        </svg>
    </div>
{% else %}
    <div role="img" class="sig" aria-label="{{ 'Statistics Canada' | t }}">
        <svg height="24" width="214" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 596.8 66.9" xml:space="preserve" aria-hidden="true">
            <path class="fip-text" d="M438.8,9c-0.2-3.1-1.1-9-11-9c-6.8,0-9.7,4.3-9.7,8.7c0,4.9,4.2,6.2,6,6.6l5.8,1.3c4.6,1.1,6,2,6,5
            c0,4-4.6,4.7-7.4,4.7c-3.6,0-7.8-1.5-7.8-6.6h-3.6c0,2.6,0.5,5,2.9,7.1c1.2,1.1,3.3,2.7,8.5,2.7c4.8,0,11-1.8,11-8.5
            c0-4.5-2.8-6.7-6.4-7.5l-8-1.8c-1.6-0.4-3.3-1.2-3.3-3.6c0-4.3,4-4.9,6.4-4.9c3.2,0,6.8,1.4,7,5.7L438.8,9L438.8,9z M451.5,11.3V8.5
            h-3.3V2.7h-3.5v5.8h-2.8v2.9h2.8v13.5c0,2.5,0.7,4.4,4.2,4.4c0.4,0,1.3-0.2,2.6-0.3v-2.7h-1.2c-0.7,0-2.1,0-2.1-1.6V11.3H451.5
            L451.5,11.3z M458,14.7c0.2-1.6,0.8-4,4.7-4c3.3,0,4.8,1.2,4.8,3.3c0,2-1,2.4-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4
            c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3c0.1,1.6,0.6,3.1,3.6,3.1c0.8,0,1.3-0.2,1.9-0.4v-2.3c-0.4,0.1-0.8,0.2-1.1,0.2
            c-0.7,0-1.1-0.4-1.1-1.2V13.6c0-5.3-6-5.7-7.6-5.7c-5.1,0-8.3,1.9-8.5,6.8L458,14.7L458,14.7z M467.4,21.9c0,2.7-3.1,4.8-6.4,4.8
            c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3c4.3-0.6,5.1-0.9,5.7-1.3V21.9L467.4,21.9z M484.2,11.3V8.5h-3.3V2.7h-3.4v5.8h-2.8
            v2.9h2.8v13.5c0,2.5,0.7,4.4,4.1,4.4c0.4,0,1.3-0.2,2.6-0.3v-2.7H483c-0.7,0-2.1,0-2.1-1.6V11.3H484.2L484.2,11.3z M491.1,8.5h-3.4
            V29h3.4V8.5L491.1,8.5z M491.1,4.7V0.8h-3.4v3.9L491.1,4.7L491.1,4.7z M511.3,14.3c0-1-0.5-6.4-7.8-6.4c-4,0-7.8,2-7.8,6.5
            c0,2.8,1.9,4.3,4.7,5l4,1c2.9,0.7,4.1,1.3,4.1,2.9c0,2.3-2.2,3.3-4.7,3.3c-4.9,0-5.3-2.6-5.4-4.2h-3.3c0.1,2.5,0.7,7.2,8.8,7.2
            c4.6,0,8.1-2.6,8.1-6.8c0-2.8-1.5-4.4-5.8-5.4l-3.5-0.9c-2.7-0.7-3.7-1.1-3.7-2.7c0-2.5,3-2.9,4.1-2.9c4.4,0,4.8,2.2,4.9,3.4
            L511.3,14.3L511.3,14.3z M523.4,11.3V8.5h-3.3V2.7h-3.4v5.8h-2.8v2.9h2.8v13.5c0,2.5,0.7,4.4,4.2,4.4c0.4,0,1.3-0.2,2.6-0.3v-2.7
            h-1.2c-0.7,0-2.1,0-2.1-1.6V11.3H523.4L523.4,11.3z M530.3,8.5h-3.5V29h3.5V8.5L530.3,8.5z M530.3,4.7V0.8h-3.5v3.9L530.3,4.7
            L530.3,4.7z M552.3,8.5h-3.2v2.9H549c-0.8-1.2-2.4-3.5-6.1-3.5c-5.5,0-8.6,4.5-8.6,10.2c0,4.9,2,11.5,9,11.5c2.7,0,4.6-1.3,5.4-2.8
            h0.1v10.3h3.4L552.3,8.5L552.3,8.5z M549,19.7c0,5.5-3.4,6.9-5.6,6.9c-3.8,0-5.5-3.4-5.5-7.9c0-2.6,0.3-7.7,5.6-7.7
            C548.5,11,549,16.3,549,19.7L549,19.7z M573.9,29V8.5h-3.4v11.3c0,3-1.3,6.8-5.6,6.8c-2.2,0-4-1.1-4-4.5V8.5h-3.5v14.7
            c0,4.9,3.6,6.4,6.7,6.4c3.3,0,5.1-1.3,6.5-3.7l0.1,0.1v3H573.9L573.9,29z M593.1,22.5c-0.1,1.5-2,4-5.3,4c-4,0-6-2.5-6-6.7h15
            c0-7.3-2.9-12-8.8-12c-6.8,0-9.8,5.1-9.8,11.4c0,5.9,3.4,10.3,9.2,10.3c3.3,0,4.6-0.8,5.6-1.4c2.6-1.7,3.5-4.6,3.6-5.6H593.1
            L593.1,22.5z M581.8,17.1c0-3.2,2.5-6.1,5.7-6.1c4.2,0,5.5,2.9,5.7,6.1H581.8L581.8,17.1z M441.7,46.4c-0.5-4.7-4.3-9.2-11.6-9.2
            c-8.2,0-13.1,6-13.1,14.7c0,10.8,6.3,15,12.7,15c2.1,0,10.7-0.5,12.3-11.1h-3.7c-1.3,6.5-5.6,7.7-8,7.7c-7,0-9.3-5.1-9.3-11.7
            c0-7.4,4.1-11.2,9.2-11.2c2.7,0,6.8,0.9,7.9,5.8H441.7L441.7,46.4z M449.2,51.9c0.2-1.6,0.8-4,4.7-4c3.3,0,4.8,1.2,4.8,3.3
            c0,2-1,2.3-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3c0.1,1.6,0.6,3.1,3.6,3.1
            c0.8,0,1.3-0.2,1.9-0.4v-2.5c-0.4,0.1-0.8,0.2-1.1,0.2c-0.7,0-1.1-0.4-1.1-1.2V50.8c0-5.3-6-5.7-7.6-5.7c-5.1,0-8.3,1.9-8.5,6.8
            L449.2,51.9L449.2,51.9z M458.7,59c0,2.7-3.1,4.8-6.3,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3c4.3-0.6,5.1-0.9,5.7-1.3
            L458.7,59L458.7,59z M484.7,52.2c0-5.8-4-7.1-7.2-7.1c-3.5,0-5.5,2.4-6.2,3.5h-0.1v-2.9h-3.3v20.5h3.4V55c0-5.6,3.5-6.8,5.4-6.8
            c3.4,0,4.4,1.8,4.4,5.4v12.6h3.5L484.7,52.2L484.7,52.2z M492.8,51.9c0.2-1.6,0.8-4,4.7-4c3.3,0,4.8,1.2,4.8,3.3c0,2-1,2.3-1.8,2.4
            l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3c0.1,1.6,0.6,3.1,3.6,3.1c0.8,0,1.3-0.2,1.9-0.4v-2.5
            c-0.4,0.1-0.8,0.2-1.1,0.2c-0.7,0-1.1-0.4-1.1-1.2V50.8c0-5.3-6-5.7-7.6-5.7c-5.1,0-8.3,1.9-8.5,6.8L492.8,51.9L492.8,51.9z
            M502.3,59c0,2.7-3.1,4.8-6.4,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3c4.3-0.6,5.1-0.9,5.7-1.3V59L502.3,59z M528.6,38
            h-3.4v10.3l-0.1,0.3c-0.8-1.2-2.4-3.5-6.1-3.5c-5.4,0-8.5,4.5-8.5,10.2c0,4.9,2,11.5,9,11.5c2,0,4.4-0.6,5.8-3.4h0.1v2.8h3.3
            L528.6,38L528.6,38z M513.9,55.8c0-2.6,0.3-7.7,5.6-7.7c5,0,5.5,5.4,5.5,8.7c0,5.5-3.4,6.9-5.6,6.9
            C515.7,63.7,513.9,60.3,513.9,55.8L513.9,55.8z M536.4,51.9c0.2-1.6,0.8-4,4.7-4c3.3,0,4.8,1.2,4.8,3.3c0,2-1,2.3-1.8,2.4l-5.7,0.7
            c-5.7,0.7-6.2,4.7-6.2,6.4c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3c0.1,1.6,0.6,3.1,3.6,3.1c0.8,0,1.3-0.2,1.9-0.4v-2.5
            c-0.4,0.1-0.8,0.2-1.1,0.2c-0.7,0-1.1-0.4-1.1-1.2V50.8c0-5.3-6-5.7-7.6-5.7c-5.1,0-8.3,1.9-8.5,6.8L536.4,51.9L536.4,51.9z
            M545.9,59c0,2.7-3.1,4.8-6.4,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3c4.3-0.6,5.1-0.9,5.7-1.3V59L545.9,59z"/>
            <path class="fip-text" d="M220,9c-0.2-3.1-1.1-9-11-9c-6.8,0-9.7,4.3-9.7,8.7c0,4.9,4.2,6.2,6,6.6l5.8,1.3c4.6,1.1,6,2,6,5
            c0,4-4.6,4.7-7.4,4.7c-3.6,0-7.8-1.5-7.8-6.6h-3.6c0,2.6,0.5,5,2.9,7.1c1.3,1.1,3.3,2.7,8.5,2.7c4.8,0,11-1.8,11-8.5
            c0-4.5-2.7-6.7-6.4-7.5l-8-1.8c-1.7-0.4-3.3-1.2-3.3-3.6c0-4.3,4-4.9,6.4-4.9c3.2,0,6.8,1.4,7,5.7L220,9L220,9z M232.7,11.3V8.5
            h-3.3V2.7h-3.5v5.8h-2.8v2.9h2.8v13.5c0,2.5,0.7,4.4,4.2,4.4c0.4,0,1.3-0.2,2.6-0.3v-2.7h-1.2c-0.7,0-2.1,0-2.1-1.6V11.3H232.7
            L232.7,11.3z M239.1,14.7c0.2-1.6,0.8-4,4.7-4c3.3,0,4.8,1.2,4.8,3.3c0,2-1,2.4-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4
            c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3c0.1,1.6,0.6,3.1,3.6,3.1c0.8,0,1.3-0.2,1.9-0.4v-2.3c-0.4,0.1-0.8,0.2-1.1,0.2
            c-0.7,0-1.1-0.4-1.1-1.2V13.6c0-5.3-6-5.7-7.6-5.7c-5.1,0-8.3,1.9-8.5,6.8L239.1,14.7L239.1,14.7z M248.6,21.9
            c0,2.7-3.1,4.8-6.3,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3c4.3-0.6,5.1-0.9,5.7-1.3L248.6,21.9L248.6,21.9z M265.4,11.3
            V8.5h-3.3V2.7h-3.4v5.8h-2.8v2.9h2.8v13.5c0,2.5,0.7,4.4,4.2,4.4c0.4,0,1.3-0.2,2.6-0.3v-2.7h-1.2c-0.7,0-2.1,0-2.1-1.6V11.3H265.4
            L265.4,11.3z M272.3,8.5h-3.5V29h3.5V8.5L272.3,8.5z M272.3,4.7V0.8h-3.5v3.9L272.3,4.7L272.3,4.7z M292.4,14.3c0-1-0.5-6.4-7.8-6.4
            c-4,0-7.8,2-7.8,6.5c0,2.8,1.9,4.3,4.7,5l4,1c2.9,0.7,4.1,1.3,4.1,2.9c0,2.3-2.2,3.3-4.7,3.3c-4.9,0-5.3-2.6-5.4-4.2h-3.3
            c0.1,2.5,0.7,7.2,8.8,7.2c4.6,0,8.1-2.6,8.1-6.8c0-2.8-1.5-4.4-5.8-5.4l-3.4-0.9c-2.7-0.7-3.7-1.1-3.7-2.7c0-2.5,3-2.9,4.1-2.9
            c4.4,0,4.8,2.2,4.9,3.4L292.4,14.3L292.4,14.3z M304.6,11.3V8.5h-3.3V2.7h-3.4v5.8h-2.8v2.9h2.8v13.5c0,2.5,0.7,4.4,4.2,4.4
            c0.4,0,1.3-0.2,2.6-0.3v-2.7h-1.2c-0.7,0-2.1,0-2.1-1.6V11.3H304.6L304.6,11.3z M311.5,8.5h-3.4V29h3.4V8.5L311.5,8.5z M311.5,4.7
            V0.8h-3.4v3.9L311.5,4.7L311.5,4.7z M332.8,15.4c-0.3-3.6-2.3-7.5-7.7-7.5c-6.8,0-9.8,5.1-9.8,11.4c0,5.9,3.4,10.3,9.2,10.3
            c6,0,8-4.6,8.4-7.8h-3.3c-0.6,3.1-2.6,4.9-4.9,4.9c-4.7,0-5.6-4.4-5.6-7.9c0-3.6,1.4-7.7,5.6-7.7c2.9,0,4.4,1.6,4.9,4.4L332.8,15.4
            L332.8,15.4z M351.3,14.3c0-1-0.5-6.4-7.8-6.4c-4,0-7.8,2-7.8,6.5c0,2.8,1.9,4.3,4.7,5l4,1c2.9,0.7,4.1,1.3,4.1,2.9
            c0,2.3-2.2,3.3-4.7,3.3c-4.9,0-5.3-2.6-5.4-4.2h-3.3c0.1,2.5,0.7,7.2,8.8,7.2c4.6,0,8.1-2.6,8.1-6.8c0-2.8-1.5-4.4-5.8-5.4l-3.5-0.9
            c-2.7-0.7-3.7-1.1-3.7-2.7c0-2.5,3-2.9,4.1-2.9c4.4,0,4.8,2.2,4.9,3.4L351.3,14.3L351.3,14.3z M222.9,46.4
            c-0.5-4.7-4.3-9.2-11.6-9.2c-8.2,0-13.1,6-13.1,14.7c0,10.8,6.3,15,12.7,15c2.1,0,10.7-0.5,12.3-11.1h-3.7c-1.3,6.5-5.6,7.7-8,7.7
            c-7,0-9.3-5.1-9.3-11.7c0-7.4,4.1-11.2,9.2-11.2c2.7,0,6.8,0.9,7.9,5.8H222.9L222.9,46.4z M230.4,51.9c0.2-1.6,0.8-4,4.7-4
            c3.3,0,4.8,1.2,4.8,3.3c0,2-1,2.3-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3
            c0.1,1.6,0.6,3.1,3.6,3.1c0.8,0,1.3-0.2,1.9-0.4v-2.5c-0.4,0.1-0.8,0.2-1.1,0.2c-0.7,0-1.1-0.4-1.1-1.2V50.8c0-5.3-6-5.7-7.6-5.7
            c-5.1,0-8.3,1.9-8.5,6.8L230.4,51.9L230.4,51.9z M239.8,59c0,2.7-3.1,4.8-6.4,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3
            c4.3-0.6,5.1-0.9,5.7-1.3V59L239.8,59z M265.8,52.2c0-5.8-4-7.1-7.2-7.1c-3.5,0-5.4,2.4-6.2,3.5h-0.1v-2.9H249v20.5h3.4V55
            c0-5.6,3.5-6.8,5.4-6.8c3.4,0,4.4,1.8,4.4,5.4v12.6h3.4L265.8,52.2L265.8,52.2z M274,51.9c0.2-1.6,0.8-4,4.7-4
            c3.3,0,4.8,1.2,4.8,3.3c0,2-1,2.3-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3
            c0.1,1.6,0.6,3.1,3.6,3.1c0.8,0,1.3-0.2,1.9-0.4v-2.5c-0.4,0.1-0.8,0.2-1.1,0.2c-0.7,0-1.1-0.4-1.1-1.2V50.8c0-5.3-6-5.7-7.6-5.7
            c-5.1,0-8.3,1.9-8.5,6.8L274,51.9L274,51.9z M283.4,59c0,2.7-3.1,4.8-6.4,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3
            c4.3-0.6,5.1-0.9,5.7-1.3V59L283.4,59z M309.7,38h-3.4v10.3l-0.1,0.3c-0.8-1.2-2.4-3.5-6.1-3.5c-5.4,0-8.5,4.5-8.5,10.2
            c0,4.9,2,11.5,9,11.5c2,0,4.3-0.6,5.8-3.4h0.1v2.8h3.3L309.7,38L309.7,38z M295.1,55.8c0-2.6,0.3-7.7,5.6-7.7c5,0,5.5,5.4,5.5,8.7
            c0,5.5-3.4,6.9-5.6,6.9C296.9,63.7,295.1,60.3,295.1,55.8L295.1,55.8z M317.6,51.9c0.2-1.6,0.8-4,4.7-4c3.3,0,4.8,1.2,4.8,3.3
            c0,2-1,2.3-1.8,2.4l-5.7,0.7c-5.7,0.7-6.2,4.7-6.2,6.4c0,3.5,2.7,5.9,6.4,5.9c4,0,6.1-1.9,7.4-3.3c0.1,1.6,0.6,3.1,3.6,3.1
            c0.8,0,1.3-0.2,1.9-0.4v-2.5c-0.4,0.1-0.8,0.2-1.1,0.2c-0.7,0-1.1-0.4-1.1-1.2V50.8c0-5.3-6-5.7-7.6-5.7c-5.1,0-8.3,1.9-8.5,6.8
            L317.6,51.9L317.6,51.9z M327,59c0,2.7-3.1,4.8-6.4,4.8c-2.6,0-3.7-1.3-3.7-3.6c0-2.6,2.7-3.1,4.4-3.3c4.3-0.6,5.1-0.9,5.7-1.3V59
            L327,59z"/>
            <g class="fip-flag">
                <g>
                    <g>
                    <path d="M67.9,61.8c0,0-0.3-11.3-0.3-12.5s0.9-1.5,2.1-1.2s11.8,2.4,11.8,2.4s-0.9-2.4-1.5-3.9
                        c-0.6-1.8,0.3-2.1,0.6-2.4c0.3-0.3,11.8-10.1,11.8-10.1l-1.8-0.9c-1.2-0.6-0.9-1.5-0.6-2.1c0-0.6,1.8-7.1,1.8-7.1s-4.8,0.9-6,1.2
                        c-0.9,0-1.2-0.3-1.5-0.9s-1.5-3.6-1.5-3.6s-6,6.5-6,6.8c-1.2,0.9-2.4,0.3-2.1-0.9c0-1.2,3-14.6,3-14.6s-3.3,2.1-4.2,2.7
                        c-1.2,0.6-1.5,0.6-2.1-0.6c-0.6-0.9-4.5-8.9-4.5-8.9l0,0c0,0-4.2,8-4.5,8.9c-0.6,1.2-1.2,1.2-2.4,0.6c-0.9-0.6-4.2-2.7-4.2-2.7
                        s3,13.4,3,14.6c0.3,1.2-0.9,1.8-1.8,0.9c-0.3-0.3-6.3-6.8-6.3-6.8s-1.2,3-1.5,3.6s-0.6,0.9-1.5,0.9c-1.2-0.3-6.3-1.2-6.3-1.2
                        s2.1,6.5,2.4,7.1c0,0.6,0.3,1.5-0.9,2.1l-2.2,1c0,0,11.5,9.8,11.8,10.1s1.2,0.6,0.6,2.4c-0.6,1.5-1.5,3.9-1.5,3.9
                        s10.9-2.1,11.8-2.4c1.2-0.3,2.1,0,2.1,1.2s-0.3,12.5-0.3,12.5L67.9,61.8L67.9,61.8z"/>
                    <polygon points="33.4,66.9 33.4,0.3 0,0.3 0,66.9"/>
                    <polygon points="133.1,66.9 133.1,0.3 99.6,0.3 99.6,66.9"/>
                    </g>
                </g>
            </g>
        </svg>
    </div>
{% endif %}