{% assign social = "alias:social-" | append: Culture.Name %}
<footer id="mainFooter" class="fixed-bottom">
    <div class="container fluid-section">
        <div class="row align-items-end justify-content-between position-relative">
            <div class="statcan-logo col-md-4 col-6"></div>
            <div class="d-flex col-md-4 col-12 justify-content-center order-md-0 order-first text-center">
                {% shape "SocialLinks", Type:"ContentItem", alias: social, display-type:"Detail" %}
            </div>
            <div class="canada-logo col-md-4 col-4"></div>
        </div>
        <span class="powered-by fixed-bottom d-flex justify-content-center">{{ "powered by" | t }} <img src="{{ "~/BootstrapTheme/images/DI_Logo.svg" | href }}" alt="{{ "Digital Innovation" | t }}" data-toggle="tooltip" data-placement="top" title="{{ "Digital Innovation" | t }}"></span>
    </div>
</footer>
