<footer>
    <div class="container px-4 fluid-section">
        <div class="row">
            <div class="col-12 statcan-logo img-fluid d-flex align-items-end">
            {{ "SymbolStatisticsCanada" | shape_new | shape_render }}
            {{ "SymbolCanada" | shape_new | shape_render }}
            </div>
        </div>
    </div>
</footer>
