{% assign contentItems = Model.ContentItem.Content.Events.ContentItems | content_item %}
<div class="row pb-3">
  <div class="col-lg-3 col-4 text-right text-uppercase">{{ Model.ContentItem | display_text }}</div>
</div>
<div class="row">
  <div class="col-12">
    {% for event in contentItems %}
      {{ event | shape_build_display | shape_render }}
    {% endfor %}
  </div>
</div>