.table-header {
  border-bottom: 2px solid#009C88;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.name-col {
  text-align: left;
  padding-left: 1rem;
}

.table-row {
  background: #f6fcfb;
  height: 48px;
  border-bottom: 1px solid #cfece9;
  cursor: pointer;
  overflow-wrap: anywhere;
}

th:hover {
  cursor: pointer;
}
