<v-container>
  <div class="d-flex justify-center">
    <v-card flat>
      <v-card-title>{{"404 - Page not found" | t}}</v-card-title>
      <v-card-text class="grey--text lighten-5">
        {{ " The page you are trying to get to never existed in this reality,
        or has migrated to a parallel universe." | t }}
        <a href="{{"~/" | href}}">{{"Go Home" | t}}</a>
      </v-card-text>
    </v-card>
  </div>
</v-container>