<section class="not-found-section">
  <div class="container text-center">
    <h1 class="glitch" data-text="404">404</h1>
    <h2>{{ "We couldn't find what you're looking for" | t }} </h2>
    <a href="{{"~/" | href}}">{{"Go Home" | t}}</a>
  </div>
</section>
