<section class="login flex-fill">
    <h1 class="login">404</h1>
    <p class="login h4">{{ "We couldn't find what you're looking for" | t }}</p>
    <p class="login h4"><a href="{{ '~/' | href }}"><i class="icon {{ Site.Properties.SiteIcon.SiteIcon.Icon.Text }} mr-2"></i>{{ Site.SiteName }}</a></p>
</section>
