{% assign title = "Check your email" | t %}
{{ "SharedLoginHeader" | shape_new: title: title | shape_render }}
<p class="text-center">{{ "Please check your email to reset your password." | t }}</p>
{{ "SharedLoginFooter" | shape_new | shape_render }}