{% assign title = "Forgot password" | t %}
{{ "SharedLoginHeader" | shape_new | shape_properties: title: title | shape_render }}
{% form asp_controller:"ResetPassword", asp_action:"ForgotPassword", method:"post" %}
    <div class="form-group d-flex flex-column align-items-center justify-content-center py-2">
        {% block "label", asp_for:"UserIdentifier", class:"asterix" %}{{ "Enter your email or username to reset password." | t }}{% endblock %}
        {% helper "input", asp_for:"UserIdentifier", class:"form-control", aria_describedby:"UserIdentifier-described-by" %}
        {% helper "span", id:"UserIdentifier-described-by", asp_validation_for:"UserIdentifier", class:"text-danger" %}
    </div>                    
    <div class="form-group d-flex flex-column align-items-center justify-content-center py-2">
        <button type="submit" class="btn btn-lg btn-primary is-rounded">{{ "Submit" | t }}</button>
    </div>
{% endform %}
{{ "SharedLoginFooter" | shape_new | shape_render }}