@model StatCan.OrchardCore.Workflows.ViewModels.ValidateUserTaskViewModel

  <fieldset class="form-group form-check" asp-validation-class-for="SetUser">
    <input type="checkbox" asp-for="SetUser" class="form-check-input" />
    <span asp-validation-for="SetUser"></span>
    <label asp-for="SetUser" class="form-check-label">@T["Set the User property"]</label>
  </fieldset>

  <fieldset class="form-group" asp-validation-class-for="RoleNames">
    <label asp-for="RoleNames">@T["Role(s) to validate"]</label>
    <input type="text" asp-for="RoleNames" class="form-control code" />
    <span asp-validation-for="RoleNames"></span>
    <span class="hint">@T["Comma seperated list of roles to validate"]</span>
  </fieldset>