$primary: #252561;
$primary-variant1: #151537;
$card-hover: #3B3B8A;
$secondary: #f9663b;
$secondary-variant1: #fdc5b5;
$secondary-variant2: #feece6;
$background: #efeff4;
$background-variant1: #efeff461;