@import "colors";

.footer-bottom {
  background: $primary;
  border-top: 3px solid $secondary;
  display: flex;
  justify-content: space-between;
  padding: 3rem 6rem 2rem 6rem;
}

.ripple {
  background-color: $primary;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -623px;
}

.footer {
  background-color: $primary;
}

.menus-container {
    display: flex;
    flex-grow: 5;
    justify-content: space-evenly;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.menu-title {
    color: $secondary;
}

.zigzag-footer {
  position: relative;
  padding: 0;
  background: #ffffff;
}

.zigzag-footer::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  background: linear-gradient(-145deg, #ffffff 16px, transparent 0),
    linear-gradient(145deg, #ffffff 16px, transparent 0);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
}

.ripple-container {
  padding: 5rem 2rem 5rem 2rem;
  display: flex;
  width: 100%;
  background-image: url("images/ripples.svg");
}

.menu-link:hover {
    text-decoration: underline;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.logo {
    display: flex;
    align-items: end;
    flex-grow: 1
}
