@using OrchardCore.Workflows.Helpers
@model StatCan.OrchardCore.AjaxForms.Workflows.AjaxFormSubmittedEventViewModel

<header>
  <h4><i class="fa fa-bolt"></i>@Model.Activity.GetTitleOrDefault(() => T["Ajax Form submitted"])</h4>
</header>
<em>
  @if (Model.ExecuteForAllForms == true)
  {
    <text>@T["All Forms"]</text> }
  else
  { 
    @(Model.AllItems.Any() ? (object)string.Join(", ", Model.AllItems.Select(x => x.Text)): "")
  }
</em>
