html {
  scroll-behavior: smooth;
}

body {
  background-color: $bgPrimary;
  color: $white;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-family: "Encode Sans", sans-serif;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}