.join-team-max-vh-40 {
  max-height: 40vh;
}

.join-team-scroller {
  overflow-y: scroll;
  scrollbar-color: #E33445 #000000;
  scrollbar-width: 15px;
}

.join-team-scroller::-webkit-scrollbar {
    width: 15px;
}

.join-team-scroller::-webkit-scrollbar-track-piece  {
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}

.join-team-scroller::-webkit-scrollbar-thumb:vertical {
    background-color: #E33445;
    border-radius: 10px;
}