<section class="hero-section">
  <div class="container">
    <div class="row flex-1 align-items-center" style="min-height: 22rem">
      <div class="col-6">
        <h1>{{ Model.ContentItem.Content.TitlePart.Title }}</h1>
      </div>
    </div>
  </div>
</section>