<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
  <head>
    <title>{% page_title Site.SiteName %}</title>
    {% resources type: "Meta" %}
    {% resources type: "HeadLink" %}    
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}

    {{ "CommonLayoutResources" | shape_new | shape_render }}
    {% render_section "HeadMeta", required: false %}
  </head>

  <body id="page-top" dir="{{ Culture.Dir }}" class="d-flex flex-column">
    {% render_section "Header", required: false %}
    <main id="bootstrap-main" class="d-flex flex-fill">
      <section class="flex-fill container-fluid d-flex align-self-center align-items-center">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-8 col-12">
              {% render_section "Content" %}        
            </div>
          </div>
        </div>
      </section>
    </main>
    {% render_section "Footer", required: false %}
    {% resources type: "FootScript" %}
  </body>
</html>
