@using StatCan.OrchardCore.EmailTemplates.ViewModels;
@using OrchardCore.ContentManagement;
@using OrchardCore.ContentManagement.Routing;
@model EmailTemplatePartSettingsViewModel
@inject OrchardCore.ContentManagement.IContentManager ContentManager

<div class="form-group">
    <div class="w-100 w-md-50 pr-md-3">
    <label>Email Template</label>
      @if (Model.EmailTemplates.Any())
      {
        <select class="form-control content-preview-select" asp-for="EmailTemplate" asp-items="Model.EmailTemplates"></select>
      }
    </div>
</div>