@using StatCan.OrchardCore.EmailTemplates.ViewModels;
@using StatCan.OrchardCore.EmailTemplates.Models;
@using OrchardCore.ContentManagement
@model EmailTemplatePartViewModel

@{
  
}

<button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-envelope"></i>
    @T["Email Templates"]
</button>

<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    @foreach (var entry in Model.SelectedEmailTemplates)
    {
        <a class="dropdown-item" href="@Url.Action("SendEmail", "EmailTemplate", new {area="StatCan.OrchardCore.EmailTemplates", id=entry.Value, contentItemId=Model.ContentItemId, returnUrl=@FullRequestPath })">@entry.Text</a>
    }
</div>