@model OrchardCore.Users.ViewModels.ForgotPasswordViewModel

@{ 
    ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}

<h1>@T["Forgot your password?"]</h1>

<form asp-controller="ResetPassword" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="UserIdentifier" class="control-label">@T["Enter your email or username to reset password."]</label>
        <input asp-for="UserIdentifier" class="form-control" aria-describedby="UserIdentifier-described-by" />
        <span id="UserIdentifier-described-by" asp-validation-for="UserIdentifier" class="text-danger"></span>
    </div>
    @await RenderSectionAsync("AfterForgotPassword", required: false)
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@T["Submit"]</button>
    </div>
</form>