{% assign title = "Password reset complete" | t %}
{% assign subtitle = "New password is set" | t %}
{% assign prompt = "Give it try" | t %}

{{ "SharedLoginHeader" | shape_new: title: title, subtitle: subtitle, prompt: prompt | shape_render }}
    <div class="form-group d-flex flex-column align-items-center justify-content-center mb-3">
        <a href="{{ '~/login' | href }}" class="btn btn-lg btn-primary is-rounded">{{ "Login" | t }}</a>
    </div>
{{ "SharedLoginFooter" | shape_new | shape_render }}