<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% render_section "HeadMeta", required: false %}
    <title>{% page_title  Site.SiteName %}</title>

    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">  
    <link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet">

    {% resources type: "Meta" %}
    {% resources type: "HeadLink" %}
    {% resources type: "HeadScript" %}
    {% resources type: "Stylesheet" %}
</head>

<body class="bg-grey-100 font-sans leading-normal tracking-normal">

    <div class="flex items-center justify-center h-screen">
    
        <div class="bg-indigo-800 text-white font-bold rounded-lg border shadow-lg p-10">
            test
        </div>
        
      </div>

</body>
</html>
