<div id="main" style="display:inline-block;width:100%;"></div>
{% style name:"styles", src:"https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css", rel:"stylesheet" %}

{% assign photo = Model.ContentItem.Content.Tenant.Poster.Paths.first | raw %}


    <!-- List Item -->
    <div class="flex bg-gray-100 rounded-lg shadow-md hover:shadow-lg duration-500 px-4 sm:px-6 md:px-2 py-3 my-6 mx-4">
        {% if photo != undefined %}
        <img class="bg-gray-200" src={{ photo | asset_url | resize_url: width:100, height:120, mode:'crop', anchor:anchor }}  />
        {% else %}
        <svg class="w-28 h-32 bg-gray-200" viewBox="0 0 352 512"><path fill="currentColor" d="M96.06 454.35c.01 6.29 1.87 12.45 5.36 17.69l17.09 25.69a31.99 31.99 0 0 0 26.64 14.28h61.71a31.99 31.99 0 0 0 26.64-14.28l17.09-25.69a31.989 31.989 0 0 0 5.36-17.69l.04-38.35H96.01l.05 38.35zM0 176c0 44.37 16.45 84.85 43.56 115.78 16.52 18.85 42.36 58.23 52.21 91.45.04.26.07.52.11.78h160.24c.04-.26.07-.51.11-.78 9.85-33.22 35.69-72.6 52.21-91.45C335.55 260.85 352 220.37 352 176 352 78.61 272.91-.3 175.45 0 73.44.31 0 82.97 0 176zm176-80c-44.11 0-80 35.89-80 80 0 8.84-7.16 16-16 16s-16-7.16-16-16c0-61.76 50.24-112 112-112 8.84 0 16 7.16 16 16s-7.16 16-16 16z"></path></svg>
        {% endif %}

        <div>
            <div class=" mt-2">
                <span class="sm:text-sm md:text-md lg:text-lg text-gray-700 font-bold px-4">
                    {{Model.ContentItem.Content.Tenant.TenantName.Text | raw}}
                </span>                    
                <p class="mt-2 text-gray-600 text-sm md:text-md px-4">
                    {{Model.ContentItem.Content.Tenant.TenantInformation.Text | raw}}
                </p>
            </div>

                <!-- Tags  -->
                <!-- <div class="grid grid-cols-2 mt-4 my-auto px-4">
                    <div class="col-span-12 lg:col-span-8">
                        <a href="#" class="inline-block rounded-full text-white 
                            bg-red-400 hover:bg-red-500 duration-300 
                            text-xs font-bold 
                            mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                            opacity-90 hover:opacity-100">
                            Innovation
                        </a>
                        <a href="#" class="inline-block rounded-full text-white 
                            bg-yellow-400 hover:bg-yellow-500 duration-300 
                            text-xs font-bold 
                            mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                            opacity-90 hover:opacity-100">
                            Carbon
                        </a>
                        <a href="#" class="inline-block rounded-full text-white 
                            bg-green-400 hover:bg-green-500 duration-300 
                            text-xs font-bold 
                            mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                            opacity-90 hover:opacity-100">
                            Hackathon
                        </a>
                        <a href="#" class="inline-block rounded-full text-white 
                            bg-blue-400 hover:bg-blue-500 duration-300 
                            text-xs font-bold 
                            mr-1 md:mr-2 mb-2 px-2 md:px-4 py-1 
                            opacity-90 hover:opacity-100">
                            Data
                        </a>
                    </div>

                   
                </div> -->
            </div>
        </div>
    </div>
    </div>
