@{
    Model.Metadata.Alternates.Clear();
    Model.Metadata.Type = "VueForm__CommonTemplate";
}

<style asp-name="vuetify"></style>
<script asp-name="vuetify" at="Foot"></script>

<div class="vuetify-app-instance">
  <v-app>
    @await DisplayAsync(Model)
  </v-app>
</div>
<script at="Foot" asp-name="vuetify-app-instance" depends-on="vuetify, vue-forms">
  document.addEventListener("vue-form-component-loaded", function(event) { 
    document.querySelectorAll(".vuetify-app-instance").forEach(function(elem){
      new Vue({
        el: elem,
        vuetify: new Vuetify()
      });
    });
  });
</script>
