body {
  background-color: $background;
  color: $white;
  font-family: "Fira Sans", sans-serif;
}

h1,
.h1 {
  @include rfs(64);
  font-weight: 200;
}
h2,
.h2 {
  @include rfs(32);
  font-weight: 200;
}
h3,
.h3 {
  @include rfs(24);
  font-weight: 300;
}
.h4 {
  font-weight: 200;
}
p {
  @include rfs(17);
  line-height: 1.25rem;
  font-weight: 300;
}

.btn {
  &.is-circle {
    align-items: center;
    border-radius: 1.3rem;
    display: flex;
    justify-content: center;
    padding: 0.3rem 0;
    text-transform: uppercase;
    width: 2.6rem;
    height: 2.6rem;
  }
}

.btn-lg {
  &.di-btn {
    border-radius: 1.5rem;
    text-transform: uppercase;
  }
}
