body {
  background-color: $background;
  color: $white;
  font-family: "Fira Sans", sans-serif;
}

h1,
.h1 {
  @include rfs(64);
  font-weight: 200;
}
h2,
.h2 {
  @include rfs(32);
  font-weight: 200;
}
h3,
.h3 {
  @include rfs(24);
  font-weight: 300;
}
.h4 {
  font-weight: 200;
}
p {
  @include rfs(16);
  font-weight: 300;
}

.btn-lg {
  &.di-btn {
    border-radius: 1.5rem;
    text-transform: uppercase;
  }
  &.circle {
    padding: 0.5rem 0;
    text-align: center;
    width: 3rem;
  }
}
