#hero-section {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background-image: url("../images/hero-bg-desktop.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  .icon {
    @include rfs(256);
  }
}
.hero-header {
  display: flex;
  position: absolute;
  right: 3rem;
  top: 1rem;
  span {
    margin-right: 1rem;
    &:nth-child(1) {
      margin-top: 3rem;
    }
    &:nth-child(2) {
      margin-top: 2.5rem;
    }
    &:nth-child(2) {
      margin-top: 2rem;
    }
  }
}
.hero-footer {
  align-items: flex-end;
  display: flex;
  height: 6.5rem;
  justify-content: center;
}
#hero-section .navbar ul li {
  perspective: 300px;
}
@include media-breakpoint-up(lg) {
  #hero-section .navbar li:first-child > .btn {
    transform: rotate3d(0, 1, 0, 10deg);
  }
  #hero-section .navbar li:last-child > .btn {
    transform: rotate3d(0, 1, 0, -10deg);
  }
}

#hero-section .btn {
  box-shadow: 0 29px 30px rgba(0, 0, 0, 0.3);
}

.sig-wht {
  height: 1rem;
  margin: 1.5rem;
}
.canada {
  height: 1.5rem;
  margin: 1.5rem;
}
.fip-spacer {
  width: 15vw;
}

@include media-breakpoint-up(lg) {
  .sig-wht {
    height: 1.75rem;
    margin: 1.5rem;
  }
  .canada {
    height: 2.25rem;
    margin: 1.5rem;
  }
}
