.hero {
  &.is-fullheight {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
    }
    .hero-body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;

      .nav-item .btn {
        box-shadow: 0 30px 20px rgba(17, 15, 15, 0.25);
      }

      .navbar ul li {
        perspective: 300px;
      }
      @include media-breakpoint-up(lg) {
        .navbar li:first-child > .btn {
          transform: rotate3d(0, 1, 0, 10deg);
        }
        .navbar li:last-child > .btn {
          transform: rotate3d(0, 1, 0, -10deg);
        }
      }
    }
    .hero-header {
      display: flex;
      height: 6.5rem;
      justify-content: flex-end;
      nav {
        .nav-buttons {
          position: relative;
          #hamburger-menu {
            position: absolute;
            top: 1rem;
            right: 1rem;
          }
          ul > *:nth-child(1) {
            position: absolute;
            top: calc(11vh);
            right: 1rem;
          }
          ul > *:nth-child(2) {
            position: absolute;
            top: calc(0.5rem + 11vh);
            right: 5rem;
          }
          ul > *:nth-child(3) {
            position: absolute;
            top: calc(0.9rem + 11vh);
            right: 9rem;
          }
          ul > .language-toggle {
            font-weight: 500;
            @include rfs(19);
          }
        }
      }
    }
    .hero-footer {
      height: 6.5rem;
      justify-content: center;
    }
  }
  #down-arrow {
    fill: $secondary;
  }
}
.portal-hud {
  background-image: url("../images/hero-bg-desktop.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  .icon {
    @include rfs(192);
  }
}
