.login {
  &.is-fullheight {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
    }
    .login-body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
}
