.section-panel {
  background-color: transparentize($background, 0.28);
  background-image: radial-gradient(
    circle at center 4rem,
    transparentize(#aeaeae, 0.92) 0,
    transparentize(#aeaeae, 1) 17rem
  );
  border-radius: 2px;
  padding: 2rem;

  .is-vertical-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    li > a > div {
      display: flex;
      flex-direction: row;
    }
  }

  .is-horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    li > a > div {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  .section-panel-link-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 4rem;
    min-width: 5rem;
    img {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  li {
    padding-top: 1rem;
  }
  li:hover {
    background-image: radial-gradient(
      circle at 15% 15%,
      transparentize($white, 0.97) 10%,
      transparent
    );
    border-radius: 2px;
  }
  a {
    color: $white;
  }
  a:hover {
    text-decoration: none;
  }
}
