.content-section {
  background-image: url("../images/Page Grid BG.svg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 6rem;
  padding-bottom: 10rem;
}
