name: Build and Test
on: 
  push:
    branches:
      - '*'         # matches every branch
      - '*/*'       # matches every branch containing a single '/'
      - '!master'   # excludes master

jobs:
  build:
    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.402
    - name: Dotnet build
      run: | 
           cd src/StatCan.OrchardCore.Cms.Web
           dotnet build --configuration Release
    - name: Host
      run: |
           cd test/cypress
           npm run host       
    - name: Test
      uses: cypress-io/github-action@v2
      with:
        project: test/cypress
