name: Development release (master branch)
on:
  push:
    branches:
      - '*'
env: 
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
jobs:
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   container:
  #     image: cypress/browsers:node12.13.0-chrome78-ff70
  #   steps:
  #   - uses: actions/checkout@v1
  #   - name: Setup .NET Core SDK
  #     uses: actions/setup-dotnet@v1
  #     with:
  #       dotnet-version: 3.1.402
  #   - name: Dotnet build
  #     run: | 
  #          cd src/StatCan.OrchardCore.Cms.Web
  #          dotnet build --configuration Release
  #   - name: Test
  #     run: |
  #          cd test/cypress
  #          npm install
  #          npm run test
  build:
    # needs: test
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.402
      - name: Dotnet build 
        env:
          BuildNumber: ${GITHUB_RUN_NUMBER}
        run: dotnet build StatCan.OrchardCore.sln -c Release
      - name: Pack
        env:
          BuildNumber: ${GITHUB_RUN_NUMBER}
        run: dotnet pack StatCan.OrchardCore.sln -c Release -o build-output --no-build
      - name: Publish nuget
        run: dotnet nuget push './build-output/*.nupkg' -k ${{secrets.NUGET_APIKEY}} -n true -s https://nuget.cloudsmith.io/statcan-digitalinnovation/statcan-orchardcore/v3/index.json  --skip-duplicate