name: PR - CI
on: 
  pull_request:
    branches:
      - master
  push:
    paths-ignore:
      - '**/*.md'
      - 'mkdocs.yml'
      - 'requirements.txt'
      - 'docs/**/*'
    branches:
      - master
env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
jobs:
  build_test:
    name: Build & Test
    runs-on: ubuntu-latest
    container:
      image: cypress/included:6.0.0
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: admin
          POSTGRES_DB: app
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      OrchardCore__ConnectionString: "User ID=postgres;Password=admin;Host=postgres;Port=5432;Database=app;"
      OrchardCore__DatabaseProvider: "Postgres"
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core 5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100
    - name: Fix nuget restore issue
      run: |
          apt update && apt upgrade
    - name: Dotnet build 
      run: dotnet build -c Release
    - name: Test
      run: |
          cd test/cypress
          npm install
          npm run test
    - uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: functional-test-postgresql-failure
        path: |
          test/cypress/screenshots
          src/StatCan.OrchardCore.Cms.Web/App_Data_Tests/logs
        retention-days: 3
