@{ 
    ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}
<h1 class="login">@T["Email confirmed"]</h1>
<div class="login">
  <section class="col-xl-5 col-lg-6 col-md-8 col-12">
    <div class="d-flex justify-content-center">
      <p class="text-center">@T["Thank you for confirming your email."]</p>
      <a href="@Url.Content("~/")" class="btn btn-lg btn-primary is-rounded">@T["Home"]</a>
    </div>
  </section>
</div>